<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/Ian.CSS">
    <script src="/static/index.js"></script>
  </head>
  <body>
    <div class="container">

    <div class="header"><h1>{{title}}</h1><h3>  Version: {{version}}</h3></div>
        <div class="main" id="indexMain">

	<h1>Welcome To The Basement</h1>

        </div>
	<div class="footer">
		<h4>PTM Electronics 2020</h4>
		<h3><a href="http://{{Request_Host}}{{Request_Path}}?{{Request_QueryString}}" target="_blank">http://{{Request_Host}}{{Request_Path}}?{{Request_QueryString}}</a></h3>
	</div>

    </div>
  </body>
</html>
